@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300|Roboto:400,100,300,400italic,500,500italic,700,700italic,900,900italic,300italic,100italic);
body{
    margin:0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;	
    cursor:default;
    font-size: 14px;
    font-weight: 400;
    background-color: #fff;
    overflow-x: hidden;
	height: 100%;
}
html {
    -webkit-text-size-adjust: none;
	height:100%;
}

* {
    outline:none;
}

p{
    line-height: 20px;
}
.lead{
    font-weight: 300;
}
b{
    color:#00bc95 !important;
    font-weight: 700;
}


/******************typography**************************/
h1,h2,h3,h4,h5,h6{
    margin-top: 0px;
    font-weight: 700;
}
/*spaces for given space between rows, section,content*/

.space-20,
.space-40,
.space-60,
.space-80{    
    width:100%;
    clear: both;
}

.space-20{
    height: 20px;
}
.space-40{
    height: 40px;
}

.space-60{
    height: 60px;
}

.space-80{
    height: 80px;
}


/************************margins for given margin in columns**********************/


.margin-btm10{
    margin-bottom: 10px;
}
.margin-btm20{
    margin-bottom:20px;
}
.margin-btm40{
    margin-bottom: 40px;
}
.margin-btm60{
    margin-bottom: 60px;
}
.margin-btm80{
    margin-bottom: 80px;
}

/**********************************************bootstrap .btn overrides**************************************/
.btn{
    display: inline-block;
    font-size: 13px;
    vertical-align: middle;
    text-align: left;
    outline: none;
    cursor: pointer;
    white-space: normal;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
}

/* Navigation Bar */
.navbar-default {
    border-color: transparent;
    border-bottom: none;
    margin: 0;
    border-radius: 0;
    background-color: #fff;
	color: black !important;
	
	
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    background-color: transparent;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    background-color: #f6f6f6;
}
.navbar-default .navbar-nav>li>a {
    color: white;
	font-weight: bolder;
    font-size: 13px;
    text-transform: uppercase;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
}
.navbar-default .navbar-nav>li>a:hover {
    color:#31b4e7;
}

@media(min-width:767px){
    .navbar-nav > li > a{
        margin: 20px 0px;  
    }
    .navbar-brand {
        height: 90px;
        line-height: 55px;
        font-weight: 900;
        font-size: 30px;
    }
}
.navbar-brand {
	font-family: 'Roboto Slab', serif;
	font-weight: 500;
	color: #fff !important;
}
.navbar-brand strong{
	font-weight: 900;
	padding-left: 5px;
}

.navbar .login-btn {
	color: #31b4e7 !important;
	border-style: solid;
	border-color: #31b4e7;
	border-width: 1px;
	margin-left: 15px;
	margin-top: 24px;
	padding: 10px 35px;
	
	border-radius: 5px;
}

.navbar .login-btn:hover {
	color: white !important;
	background: #31b4e7 !important;
}

/* Navbar custom for scroll */
.navbar-top_state {
	background-color: transparent;
	-webkit-box-shadow: none;
	padding-top: 20px;
	padding-bottom: 20px;
	color: black;
	
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
}

.nb-below {
	padding-top: 20px;
	padding-bottom: 20px;
	-webkit-box-shadow: 0px 1px 2px 0px #666; */
	box-shadow: 0px 1px 2px 0px #666;
}
.nb-below_logo {
	color: #323a45 !important;
}
.nb-below_link a {
	color: #8a959e !important;
}
.nb-below_btn {
	color: white !important;
	background-color: #31b4e7;
}

/*dropdown navigation*/
.navbar .dropdown-menu {
    padding: 0;
    margin: 0;
    min-width: 190px;
    background-color: #ffffff;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-top: 2px solid #f8f5f5 !important;
}
.navbar .dropdown-menu li a{
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
}
@media(min-width:768px){
    .navbar .dropdown-menu li a{
		padding: 12px 18px;
	`	line-height: 16px;
        border-bottom: 1px solid #f1f1f1;
        font-size: 13px;
        border-left: 4px solid #fff;
        font-weight: 500;
    }  
    .navbar .dropdown-menu li:last-child a{
        border-bottom: none;
    }
    .navbar .dropdown-menu li a:hover{
        border-left-color: #00bc95;
    }
}

/* Banner */
.banner {
    background: url('img/student_bg.png');
    background-repeat: no-repeat;
	background-size: cover;
	padding-top: 11.5em;
    min-height: 85%;
    height: 85%;
}
.banner h1 {
	font-weight: 200;
	color: white;
	font-size: 2em;
	
}
.banner h3 {
	padding-top: 1em;
	font-weight: 300;
	color: white;
	font-size: 1.2em;
}

@media(min-width:768px){
	.banner {
		background: url('img/student_bg.png');
		background-repeat: no-repeat;
		background-size: cover;
		padding-top: 25em;
		min-height: 90%;
		height: 90%;
	}
	.banner h1 {
		font-weight: 200;
		color: white;
		font-size: 5em;		
	}	
	.banner h3 {
		padding-top: 1em;
		font-weight: 300;
		color: white;
		font-size: 1.6em;
	}
}

.banner .button {
	display: inline-block;
	padding: 15px 35px;
	background: #31b4e7;
	border: 0;
	border-radius: 3px;
	font-size: 15px;
	line-height: 1em;
	font-weight: 500;
	text-transform: uppercase;
	cursor: pointer;
	-webkit-transition: background 0.3s false;
	-moz-transition: background 0.3s false false;
	-o-transition: background 0.3s false false;
	transition: background 0.3s;
	
	margin-top: 4em;
}

.button a {
	color: white;
	text-decoration: none;
}

/* Schools */
.schools {
    background-color: #f9f9fa;
	padding-top: 2em;
    min-height: 15%;
    height: 15%;
}
.schools img {
	width: 100%;
}
@media(min-width:768px){
	.schools {
		background-color: #f9f9fa;
		padding-top: 1.5em;
		min-height: 10%;
		height: 10%;
	}

	.schools img {
		width: 45%;
	}
}

/* Content Pane */
.content_pane {
    min-height: 100%;
    height: 100%;
	padding-top: 150px;
}

.content_pane .text_pane {
	padding-top: 20%;
}

.content_pane h1 {
	font-weight: 300;
	font-size: 54px;
}

.content_pane p {
	font-weight: 300;
	font-size: 18px;
	line-height: 1.7em;
}

.content_pane img {
	float: right;
    margin-left: auto;
    margin-right: auto;
	width: 100%;
}