/* Navigation Bar */

/* Login Panel */
.login-panel {
	padding-top: 45px !important;
	margin-top: 10%;
	padding-bottom: 2% !important;
	padding-left: 3% !important;
	padding-right: 3% !important;

}

.login-panel .logo {
	width: 65%;
	padding-bottom: 10px;
}

.login-panel .input-field {
	margin-top: 20px;
}

.login-panel .btn {
	margin-top: 25px;
	width: 75%;
}

.cardform-error {
	color: red;
}

/* Signup Panel */

.signup-panel {
	padding-top: 18px !important;
	margin-top: 10%;
	padding-left: 5% !important;
	padding-right: 5% !important;

}

.signup-panel .logo_micro {
	width: 40%;
	padding-bottom: 10px;
}

.signup-panel .btn {
	margin-top: 5px;
	width: 80%;
}

.disclaimer {
	font-size: 13px;
}

/* Navigation Bar */
.nav .brand-text {
	float: left;
	padding-top: -5px !important;
}

/* User Profile */
.profile-container {
	width: 100%;
}

.profile-container .profile-header {
	width: 100%;
	min-height: 250px;
	z-index: -10;
}

.profile-container .name {
	padding-top: 175px;
	color: white;
	font-size: 1.8em;
	display: block;
	float: left;
}

.profile-header .btn-floating {
	float: right;
}