<style> body { background: #81d4fa;} </style>
<div class="container" ng-controller="CreateAccountCtrl">
    <div class="row">
        <div class="col l6 center offset-l3 z-depth-1 signup-panel grey lighten-5">
            <a href="http://www.westudee.com/"><img class="logo_micro" src="img/app/westudee_logo_black.png"></a>

            <div class="cardform-error"></div>

            <form class="signup-form">
                <div class="row">
                    <div class="input-field col s12">
                        <input ng-model="first_name" class="validate signup-firstname" id="first_name" type="text"> <label for="first_name">First Name</label>
                    </div>

                    <div class="input-field col s12">
                        <input ng-model="last_name" class="validate signup-lastname" id="last_name" type="text"> <label for="last_name">Last Name</label>
                    </div>

                    <div class="input-field col s12">
                        <input ng-model="email" class="validate signup-email" id="email" type="text"> <label for="email">Email Address</label>
                    </div>

                    <div class="input-field col s12">
                        <input ng-model="password" class="validate signup-password" id="password" type="password"> <label for="password">Password</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col s6">
                        <input ng-model="gender" id="male" name="gender" type="radio" value="male"> <label for="male">Male</label>
                    </div>

                    <div class="col s6">
                        <input ng-model="gender" id="female" name="gender" type="radio" value="female"> <label for="female">Female</label>
                    </div>
                </div>
                <button ng-click="submit()" class="btn waves-effect waves-light btn-large green" name="action" type="submit">Signup</button><br>
            </form>
        </div>
    </div>

    <div class="row center">
        <!-- <p class="disclaimer">By clicking Register, you agree to our <a href="">Terms</a>, <a href="">Privacy Policy</a>, and our <a href="">Data Use Policy</a>.</p> -->
    </div>
</div>